.clearfix {
  overflow: hidden;
}
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none;
}
#header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: url("../../images/img/header-bg.png");
}
#header .logo {
  display: block;
  float: left;
  height: 100%;
  width: 220px;
  background: url("../../images/img/logo03.png") no-repeat center center;
  background-size: 86% auto;
}
#header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}
#header .head-nav li {
  padding: 0 15px;
  white-space: nowrap;
  font-size: 15px;
  color: #D3EAFB;
  line-height: 70px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#header .head-nav li a {
  text-decoration: none;
  color: #fff;
}
#header .head-nav li:before {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: #D3EAFB;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#header .head-nav li:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#header .head-nav li:hover:before {
  width: 100%;
  left: 0;
}
#header .head-nav li.active {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
#header .head-nav li.active:after {
  content: '';
  display: block;
  border: 10px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-left: -4px;
  position: absolute;
  bottom: 0;
  left: 50%;
}
#header .user {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  line-height: 70px;
}
#header .user .layui-nav-bar {
  opacity: 0!important;
}
#main {
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-left: 220px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#main .main-nav {
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 220px;
  background-color: #455774;
}
#main .main-nav ul li {
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
#main .main-nav ul li .layui-icon {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#main .main-nav ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  position: relative;
}
#main .main-nav ul li a:before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  background: #29A0FC;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#main .main-nav ul li a:hover:before {
  width: 8px;
}
#main .main-nav ul li.active {
  background: #384862;
  color: #fff;
  font-size: 15px;
}
#main .main-nav ul li.active > a:before {
  content: '';
  width: 8px;
  height: 100%;
  position: absolute;
  background: #29A0FC;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#main .main-nav ul li.open ol {
  height: auto;
  display: block;
}
#main .main-nav ul li.open .layui-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#main .main-nav ul li ol {
  background: #283149;
  display: none;
}
#main .main-nav ul li ol li {
  text-indent: 2em;
}
#main .main-info {
  padding: 15px;
}
#main .main-info .info-title {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main .main-info .info-title .breadcrumb-bav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#main .main-info .info-title ul li {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#main .main-info .message-list {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 10px 30px 10px;
}
#main .main-info .message-list.main-content {
  padding: 20px;
}
#main .main-info .message-list.main-content .page-title {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}
#main .main-info .message-list .title {
  height: 40px;
  background-color: #FAFCFD;
}
#main .main-info .message-list .title p {
  line-height: 40px;
  margin-left: 20px;
  font-size: 15px;
  color: #4A4A4A;
}
.layuer-body {
  overflow-y: auto;
}
a.mycheckbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
  background: url(../../images/img/checkbox2.png) no-repeat top -27px left 0px;
  background-size: cover;
  position: relative;
  margin: 5px 5px -2px 5px;
}
a.onActive {
  background: url(../../images/img/checkbox2.png) no-repeat top 0px left 0px;
  background-size: cover;
}
#SeparatePage {
  padding: 20px 0;
  text-align: center;
}
#SeparatePage ul {
  display: inline-block;
}
#SeparatePage ul li {
  background-color: #fff;
  float: left;
  width: 31px;
  height: 31px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#SeparatePage ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
  color: #5f7ab7;
}
#SeparatePage ul li.active a {
  background-color: #55acee;
  color: #fff;
}
#SeparatePage ul li.fist,
#SeparatePage ul li.next {
  width: 60px;
}
#SeparatePage ul li.fist a,
#SeparatePage ul li.next a {
  width: 60px;
}
#SeparatePage ul li.fist {
  border-radius: 3px 0 0 3px;
  border-left: 1px solid #dbdbdb;
}
#SeparatePage ul li.fist a {
  border-radius: 3px 0 0 3px;
}
#SeparatePage ul li.next {
  border-radius: 0 3px 3px 0;
}
#SeparatePage ul li.next a {
  border-radius: 0 3px 3px 0;
}
#SeparatePage ul li.li-number {
  border-left: 1px solid #dbdbdb;
  margin-left: 5px;
}
#SeparatePage ul li.li-number input {
  width: 29px;
  height: 29px;
  border: 0;
  text-align: center;
  outline: none;
}
#SeparatePage ul li.skip {
  width: 60px;
  border-left: 1px solid #dbdbdb;
  margin-left: 10px;
  border-radius: 3px;
}
#SeparatePage ul li.skip a {
  width: 60px;
}
#SeparatePage ul li.li-text {
  border: 0;
  width: auto;
  padding: 0 5px;
  line-height: 30px;
  margin-left: 20px;
}
#SeparatePage ul li.li-text span {
  color: #5f7ab7;
}
#SeparatePage ul li.showSelect {
  width: 60px;
  border: 0;
  border-radius: 3px;
  line-height: 35px;
}
#SeparatePage ul li.amount {
  border: 0;
  width: auto;
  padding: 0 5px;
  line-height: 30px;
}
#SeparatePage ul li.amount span {
  color: #5f7ab7;
}
.treeBox {
  overflow-x: auto;
}
input[type="text"]:-moz-read-only,
textarea:-moz-read-only {
  border: 0 ;
  background-color: #e7edf0;
  color: #666;
}
input[type="text"]:read-only,
textarea:read-only {
  border: 0 ;
  background-color: #e7edf0;
  color: #666;
}
.pagination-wrapper {
  text-align: center;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
textarea {
  resize: none;
}
.btn {
  outline: none!important;
}
.btn-lng {
  padding: 5px 20px;
}
.grey-text,
.text-grey {
  color: #999;
}
.text-red {
  color: #f00;
}
.filter-box {
  background: #fff;
  padding: 15px;
}
.filter-box .form-group {
  margin-bottom: 10px;
}
.filter-box .form-group .form-control {
  width: 190px ;
}
.filter-box .control-label {
  width: 110px;
  padding: 0 9px ;
  font-weight: normal;
}
.filter-box h4 {
  border-left: 6px solid #008efa;
  padding-left: 15px;
}
.filter-box .layui-form-inline {
  margin-bottom: 10px;
}
.filter-box .layui-form-item:last-child {
  margin-bottom: 0;
}
.filter-box .layui-form-label {
  width: 100px;
}
.filter-box div.layui-form-label {
  padding: 9px 0;
  width: auto;
}
.filter-box select {
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 190px;
}
.long-label .layui-form-label {
  width: 120px;
  padding: 9px ;
}
.long-label .layui-input-block {
  margin-left: 130px;
}
.layui-input,
.layui-select {
  height: 34px;
}
.layui-btn {
  height: 34px;
  line-height: 34px;
}
.sort-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 10px;
  height: 20px;
  font-size: 18px;
}
.sort-box .fa-caret-up {
  position: absolute;
  top: -4px;
  left: 0;
  cursor: pointer;
}
.sort-box .fa-caret-up:hover {
  color: #008efa;
}
.sort-box .fa-caret-down {
  position: absolute;
  bottom: -4px;
  left: 0;
  cursor: pointer;
}
.sort-box .fa-caret-down:hover {
  color: #008efa;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-image: url('../../images/img/checkbox2.png');
  background-repeat: no-repeat;
  background-position: 0 -25px;
  outline: none!important;
  background-size: 14px auto;
  margin: 0;
}
input[type="checkbox"]:checked {
  background-position: 0 0;
}
input[type="radio"] {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url('../../images/img/radio.png');
  background-repeat: no-repeat;
  background-position: 0 -27px;
  outline: none!important;
  background-size: 110% auto;
  margin-top: 0;
}
input[type="radio"]:checked {
  background-position: 0 -3px;
}
.layui-form-radio > i:hover,
.layui-form-radioed > i {
  color: #008efa;
}
.timeline .timeline-item i {
  font-size: 18px;
  background: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #008efa;
}
.timeline .timeline-item i:hover {
  color: #008efa;
}
.timeline .timeline-item:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
}
.timeline .timeline-item {
  padding-left: 30px;
  position: relative;
  padding-bottom: 10px;
}
.timeline .timeline-item:last-child:before {
  content: '';
  display: none;
}
.timeline .timeline-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #008efa;
}
.timeline .timeline-content p {
  color: #555;
}
.must:after {
  content: '*';
  color: #f00;
}
.text-input {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 400px;
  overflow: hidden;
}
.text-input textarea {
  border: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  outline: none;
}
.text-input .text-count {
  color: #ddd;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.hide {
  display: none!important;
}
.show {
  display: block;
}
.btn-text {
  background: transparent;
  border: none;
  color: #333;
  padding: 0 6px;
}
.btn-text:hover {
  color: #999;
}
.btn-text.btn-text-primary {
  color: #008efa;
}
.btn-text.btn-text-primary:hover {
  color: #01AAED;
}
.btn-text.btn-text-danger {
  color: #FF5722;
}
.btn-text.btn-text-danger:hover {
  opacity: 0.8;
}
.btn-link-danger {
  color: #f00;
}
.table-wrapper {
  overflow-x: auto;
}
.table-wrapper table {
  border: 1px solid #efefef;
}
.table-wrapper table thead th {
  background: #efefef;
  white-space: nowrap;
}
.table-wrapper table td {
  white-space: nowrap;
}
.mini-table th,
.mini-table td {
  padding: 4px 8px;
}
.table-form {
  border: none;
}
.table-form td {
  border: none;
}
.table-form .table-input {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.table-form .table-input td {
  padding: 8px;
  border: none;
}
.table-form .table-input th {
  padding: 8px;
  border: none;
  background: #efefef;
  font-size: 13px;
  text-align: center;
}
.table-form .table-input .check-col {
  width: 30px;
  text-align: center;
}
.table-form .table-input .input-item {
  width: 100px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 8px;
  line-height: 30px;
}
.w100 {
  width: 100px;
}
.w50 {
  width: 50px;
}
.w70 {
  width: 70px;
}
.badge-coin {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f00;
  border-radius: 100%;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
.modal {
  background: #fff;
}
.modal .modal-header .modal-title,
.modal .modal-header h4 {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  padding: 0 15px;
  background: #F8F8F8;
}
.modal .modal-body {
  padding: 15px 20px;
}
.modal .modal-footer {
  text-align: center;
  padding: 6px;
}
/*菜单全隐藏*/
.menuLeft > li {
  display: none;
}
