@media screen and (max-width:1200px ) {
    #header .logo{
        width: 180px;
    }
    #header .head-nav li{
        padding: 0 10px;
    }
    #main{
        padding-left: 180px;
    }
    #main .main-nav{
        width: 180px;
    }
    .filter-box{
        font-size: 12px;
    }
    .layui-form-item .layui-input-inline{
        width: 150px;
    }

}